html {
  padding: 1em;
  padding-bottom: 4em;
  @media (max-width: 40em) {
    padding: 1em;
  }
}

main {
  max-width: 80em;
  margin: auto;
  margin-top: 5em;
  @media (max-width: 40em) {
    margin-top: 3em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}
