@import "_reset.css";
@import "layout.css";
@import "color.css";
@import "typography.css";

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & #lc {
    font-size: var(--font-scale1);
    font-family: "Noto Sans Mono", monospace;
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 0.3s ease;
    padding: 0.2em;
    & a {
      text-decoration: none;
    }
    & #caret {
      margin-top: 2em;
      color: red;
      background-color: black;
    }
    @media (max-width: 40em) {
      font-size: var(--font-scale0);
    }
  }
  & #lc:hover {
    font-variation-settings: "wght" 700;
  }

  & #meme {
    font-size: var(--font-scale4);
  }
}

#welcome {
  font-family: "Canela Deck Trial", serif;
  font-size: var(--font-scale5);
  line-height: 1.1em;
  color: var(--col-text);
  margin-bottom: 3rem;
  max-width: 15em;
  @media (max-width: 40em) {
    font-size: var(--font-scale4);
  }
  & b {
    font-weight: 800;
  }
}

#artefacts {
  margin-top: 2em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  & .artefact-card {
    font-family: "Canela Text Trial", serif;
    background-color: #fcfbf7;
    border: 1px solid #e5e4df;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.02);
    border-radius: 0.25em;
    padding: 0.75em;

    & p {
      font-size: var(--font-scale0);
      font-weight: 300;
      margin-bottom: 0;
    }

    & a {
      text-transform: uppercase;
      font-size: var(--font-scale0);
      font-weight: 600;
      font-family: "Noto Sans Mono", monospace;
    }

    & #tag {
      text-transform: uppercase;
      font-size: var(--font-scale0);
      opacity: 0.5;
      font-weight: 600;
      font-family: "Noto Sans Mono", monospace;
      white-space: nowrap;
      /* overflow: hidden; */
      /* text-overflow: ellipsis; */
    }
  }
}
#intro {
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: 2fr 1fr;
  @media (max-width: 40em) {
    grid-template-columns: 1fr;
  }
  & #links {
    border-radius: 0.25em;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.6) 100%);
    & #inner {
      border-radius: 0.2em;
      background: var(--col-bg);
      margin-top: 2px;
      margin-right: 2px;
      height: 100%;
      padding: 0.5em;
    }
    font-size: var(--font-scale2);
    & a {
      text-decoration: none;
    }
    & li {
      margin-bottom: 0.5em;
      text-align: right;
      font-family: "Noto Sans Mono", monospace;
      font-variation-settings: "wght" 600;
      opacity: 0.75;
      transition:
        font-variation-settings 0.3s ease-out,
        opacity 0.3s ease-out;
    }
    & li:hover {
      font-variation-settings: "wght" 900;
      opacity: 1;
    }
  }
}

.artefact-full {
  max-width: 50em;
  margin: auto;
  & img {
    width: 100%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  }
  & p {
    font-size: var(--font-scale0);
    font-weight: 300;
  }
  & h1,
  h2 {
    font-family: "Canela Deck Trial", serif;
    margin-top: 2em;
  }
  & h1 {
    font-size: var(--font-scale3);
    font-weight: 400;
  }
  & h2 {
    font-size: var(--font-scale2);
    font-weight: 400;
  }
}

.h-apart {
  display: flex;
  justify-content: space-between;
}

.noise {
  border-radius: 0.5em;
  padding: 3em;
  margin-bottom: 3em;
  width: 400px;
  height: 400px;
  filter: contrast(170%) brightness(1000%);
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 203 203' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0.10'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
