@import "_reset.css";
@import "layout.css";
@import "color.css";
@import "typography.css";

header {
  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    background: red;
    height: 5em;
    align-self: center;
    mix-blend-mode: darken;
    box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, 1);
    filter: contrast(300%) brightness(200%);
  }
  &::before {
    margin-left: 4em;
    background: radial-gradient(circle at -50% 50%, rgba(105, 105, 105, 0.2), rgba(0, 0, 0, 0.3)), url(./noise.svg);
  }
  &::after {
    margin-right: 4em;
    background: radial-gradient(circle at 150% 50%, rgba(105, 105, 105, 0.2), rgba(0, 0, 0, 0.3)), url(./noise.svg);
  }
  mix-blend-mode: darken;
  padding: 0.5em;
  box-sizing: border-box;
  border: 2px solid white;

  /* background: rgb(30, 30, 30); */
  display: flex;
  justify-content: center;
  align-items: center;
  & #lc {
    font-size: var(--font-scale1);
    font-family: "Noto Sans Mono", monospace;
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 0.3s ease;
    padding: 0.2em;
    & a {
      text-decoration: none;
    }
    @media (max-width: 40em) {
      font-size: var(--font-scale0);
    }
  }
  & #lc:hover {
    font-variation-settings: "wght" 700;
  }
}

#opening-sentence {
  font-family: "Canela Deck Trial", serif;
  font-size: var(--font-scale5);
  line-height: 1.1em;
  color: var(--col-text);
  margin-bottom: 3rem;
  max-width: 15em;
  @media (max-width: 40em) {
    font-size: var(--font-scale4);
  }
  & b {
    font-weight: 800;
  }
}

#intro {
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: 2fr 1fr;
  @media (max-width: 40em) {
    grid-template-columns: 1fr;
  }
  & #links {
    border-radius: 0.15em;
    padding: 0.5em;
    padding-top: 0.4em;
    filter: contrast(300%) brightness(200%);
    mix-blend-mode: darken;
    background: radial-gradient(circle at 120% 0%, rgba(0, 0, 0, 0.284), rgba(255, 255, 255, 0)), url(./noise.svg);
    font-size: var(--font-scale2);
    & a {
      text-decoration: none;
    }
    & li {
      margin-bottom: 0.5em;
      text-align: right;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1);
      font-family: "Noto Sans Mono", monospace;
      font-variation-settings: "wght" 600;
      transition:
        font-variation-settings 0.3s ease-out,
        opacity 0.3s ease-out;
    }
    & li:hover {
      font-variation-settings: "wght" 900;
      opacity: 1;
    }
  }
}

#artefact-previews {
  margin-top: 2em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  & .artefact-card {
    font-family: "Canela Text Trial", serif;
    background-color: #fcfbf7;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 0.25em;
    padding: 0.75em;
    text-align: justify;
    filter: contrast(250%) brightness(120%);
    transition:
      --a 1s,
      --noise-x 0s,
      --noise-y 0s;
    mix-blend-mode: darken;

    background: radial-gradient(circle at var(--noise-x) var(--noise-y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.128)),
      url(./noise.svg);

    & p {
      font-size: var(--font-scale0);
      font-weight: 300;
      margin-bottom: 0;
    }

    & span {
      text-decoration: none;
      text-transform: uppercase;
      font-size: var(--font-scale0);
      font-weight: 600;
      font-family: "Noto Sans Mono", monospace;
      display: flex;
      justify-content: space-between;
    }

    & #tag {
      opacity: 0.4;
      white-space: nowrap;
    }
  }
}

.artefact-full {
  max-width: 50em;
  margin: auto;
  & img {
    width: 100%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  }
  & p {
    font-size: var(--font-scale0);
    font-weight: 300;
  }
  & h1,
  h2 {
    font-family: "Canela Deck Trial", serif;
    margin-top: 2em;
  }
  & h1 {
    font-size: var(--font-scale3);
    font-weight: 400;
  }
  & h2 {
    font-size: var(--font-scale2);
    font-weight: 400;
  }
}

.artefact-card:hover {
  --noise-x: 50%;
  --noise-y: 50%;
}

@property --noise-x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --noise-y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 150%;
}
