@import "_reset.css";
@import "layout.css";
@import "color.css";
@import "typography.css";

header {
  display: flex;
  @media (max-width: 40em) {
    justify-content: center;
  }
  & #logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    & #filler-char {
      opacity: 0.6;
    }
    &:hover {
      & #logo-wordmark {
        font-variation-settings: "wght" 900;
      }
      & #logo-icon {
        --noise-rotation: 200deg;
      }
    }

    & #logo-wordmark {
      font-size: var(--font-scale1);
      font-family: "Noto Sans Mono", monospace;
      text-transform: uppercase;
      font-variation-settings: "wght" 400;
      transition: font-variation-settings 0.5s ease;
      padding: 0;
    }
    & #logo-icon {
      width: 50px;
      height: 50px;
      margin-right: 0.2em;
      filter: contrast(200%) brightness(200%);
      transition: --noise-rotation 0.5s ease;
      mix-blend-mode: darken;
      box-shadow: inset 0px 0px 3px 3px rgba(255, 255, 255, 1);
      background: conic-gradient(from var(--noise-rotation) at 50% 50%, rgba(255, 255, 255, 0), rgb(7, 35, 55)),
        url(./noise.svg);
      @-moz-document url-prefix() {
        background: conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0), rgb(7, 35, 55)), url(./noise.svg);
      }
    }
  }
}

#opening-sentence {
  font-family: "Canela Deck Trial", serif;
  font-size: var(--font-scale5);
  line-height: 1.1em;
  color: var(--col-text);
  margin-bottom: 3rem;
  max-width: 15em;
  & b {
    font-weight: 800;
  }
  @media (max-width: 40em) {
    max-width: 100%;
    font-size: var(--font-scale2);
    margin-bottom: 0.5em;
  }
}

#intro {
  display: grid;
  grid-gap: 1rem;
  @media (max-width: 40em) {
    & p {
      line-height: 1.3em;
    }
  }

  grid-template-columns: 2fr 1fr;
  @media (max-width: 40em) {
    grid-template-columns: 1fr;
  }
  & #links {
    border-radius: 0.15em;
    padding: 0.5em;
    padding-top: 0.4em;
    filter: contrast(300%) brightness(200%);
    mix-blend-mode: darken;
    background: radial-gradient(circle at 120% 0%, rgba(0, 0, 0, 0.284), rgba(255, 255, 255, 0)), url(./noise.svg);
    font-size: var(--font-scale2);
    & a {
      margin-bottom: 0.5em;
      font-family: "Noto Sans Mono", monospace;
      text-decoration: none;
      font-variation-settings: "wght" 600;
      transition: font-variation-settings 0.3s ease-out;
      &:hover {
        font-variation-settings: "wght" 900;
        opacity: 1;
      }
    }
    & li {
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

#artifact-previews {
  margin-top: 2em;
  display: grid;
  grid-gap: 1rem;
  & a {
    display: flex;
    height: 100%;
  }
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  & .artifact-card {
    font-family: "Canela Text Trial", serif;
    line-height: 1em;
    background-color: #fcfbf7;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 0.25em;
    padding: 0.75em;
    filter: contrast(250%) brightness(120%);
    transition:
      --a 1s,
      --noise-x 0s,
      --noise-y 0s;
    mix-blend-mode: darken;

    background: radial-gradient(circle at var(--noise-x) var(--noise-y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.128)),
      url(./noise.svg);
    @-moz-document url-prefix() {
      background: radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.128)), url(./noise.svg);
    }

    & p {
      font-size: var(--font-scale0);
      font-weight: 300;
      margin-bottom: 0;
      text-align: justify;
    }

    & span {
      text-decoration: none;
      text-transform: uppercase;
      font-size: var(--font-scale0);
      font-weight: 600;
      font-family: "Noto Sans Mono", monospace;
      display: flex;
      justify-content: space-between;
    }

    & #tag {
      opacity: 0.3;
      white-space: nowrap;
    }
    &:hover {
      --noise-x: 50%;
      --noise-y: 50%;
      border: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
}

.artifact-full {
  max-width: 50em;
  margin: auto;
  & img {
    width: 100%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  }
  & p {
    font-size: var(--font-scale0);
    font-weight: 300;
  }
  & h1,
  h2 {
    font-family: "Canela Deck Trial", serif;
    margin-top: 2em;
  }
  & h1 {
    font-size: var(--font-scale3);
    font-weight: 400;
  }
  & h2 {
    font-size: var(--font-scale2);
    font-weight: 400;
  }
}

@property --noise-x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --noise-y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --noise-rotation {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
