@import "fonts.css";
@import "_vars.css";
:root {
  /* Font scale uses a 1.333 ratio */
  --font-scale5: 4.209rem;
  --font-scale4: 3.157rem;
  --font-scale3: 2.369rem;
  --font-scale2: 1.777rem;
  --font-scale1: 1.333rem;
  --font-scale0: 1rem;
}

p {
  font-family: "Canela Text Trial", sans-serif;
  font-size: var(--font-scale1);
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Canela Deck Trial", sans-serif;
  & b,
  strong {
    font-family: "Canela Deck Trial", sans-serif;
    font-weight: bold;
  }
}
h1 {
  font-size: var(--font-scale5);
}
h2 {
  font-size: var(--font-scale4);
}
h3 {
  font-size: var(--font-scale3);
}
h4 {
  font-size: var(--font-scale2);
}
h5 {
  font-size: var(--font-scale1);
}
h6 {
  font-size: var(--font-scale0);
}

a {
  text-decoration-color: transparent;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.08em;
  transition: text-decoration-color 0.2s ease-out;
}
a:hover {
  transition: text-decoration-color 0s;
  text-decoration-color: var(--col-red);
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}
